<html class="js">

<head>

  <!-- EXPERIMENT A2 tracking code -->
  <!-- Google Analytics Content Experiment code -->
  <script type="text/javascript" async="" src="https://tracker.hits.io/hitsio-js-tracker-latest.js"></script>
  <script type="text/javascript" async="" src="https://cdn.shopify.com/s/files/1/0691/5403/t/125/assets/hitsanalytics.js?11608832055738061282&amp;shop=strapping-io.myshopify.com"></script>
  <script type="text/javascript" async="" src="https://dfjp7gc2z6ooe.cloudfront.net/assets/sky_pilot.js?shop=strapping-io.myshopify.com"></script><script type="text/javascript" async="" src="//cdn.shopify.com/s/javascripts/shopify_stats.js?v=6"></script>
  <script type="text/javascript" async="" src="https://tracker.hits.io/hitsio-js-tracker-latest.js"></script>
  <script type="text/javascript" async="" src="https://tracker.hits.io/hitsio-js-tracker-latest.js"></script>
  <script type="text/javascript" async="" src="https://cdn.shopify.com/s/files/1/0691/5403/t/125/assets/hitsanalytics.js?11608832055738061282&amp;shop=strapping-io.myshopify.com"></script>
  <script type="text/javascript" async="" src="https://dfjp7gc2z6ooe.cloudfront.net/assets/sky_pilot.js?shop=strapping-io.myshopify.com"></script><script type="text/javascript" async="" src="http://www.google-analytics.com/analytics.js"></script>
  <script id="twitter-wjs" src="https://platform.twitter.com/widgets.js"></script>
  <script type="text/javascript" async="" src="https://cdn.shopify.com/s/javascripts/trekkie.storefront.min.js?v=2016.09.01.1"></script><script type="text/javascript" async="" src="//cdn.shopify.com/s/javascripts/shopify_stats.js?v=6"></script>

 

  <script src="http://www.google-analytics.com/ga_exp.js?utmxkey=108454052-4&amp;utmx=&amp;utmxx=&amp;utmxtime=1478376116470" type="text/javascript" charset="utf-8"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>



<!-- title tag-->
<title>
 Timanage
</title>


<!-- styles -->
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link href="//cdn.shopify.com/s/files/1/0691/5403/t/128/assets/style.scss.css?13829517236742464088" rel="stylesheet" type="text/css" media="all">


<body id="bootstrap-themes" class="swag-line template-index">
  <div class="container-overflow-wrap">

  <div class="container">
    <nav class="navbar navbar-default navbar-tall navbar-full" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#global-nav">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/start/">Timanage.io</a>
  </div>

  <div class="collapse navbar-collapse" id="global-nav">
    <div class="navbar-right">
      <ul class="nav navbar-nav">
          {% if user.is_authenticated %} 
          <li>
            <a href="/dashboard/">{{ user.username }}</a>
          </li>
          {% endif %}

      </ul>
       {% if user.is_authenticated %} 
       {% else %}
        <form class="navbar-form navbar-left"  method="post">
         {% csrf_token %}
          <div class="form-group">
           <input type="text" class="form-control" id="exampleInputEmail3" name="login" placeholder="Email">
          </div>
           <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" name="password">
          </div>
          <button type="submit" class="btn btn-default">Sign in</button>
        </form>
      {% endif %}
      <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/admin/">admin panel</a>
          </li>
      </ul>
    </div>
  </div>
</nav>


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <form class="form-inline" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail3">Email address</label>
            <input type="text" class="form-control" id="exampleInputEmail3" name="login" placeholder="Email">
        </div>
        <div class="form-group">
              <label class="sr-only" for="exampleInputPassword3">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" name="password">
        </div>
        <button type="submit" class="btn btn-default">Sign in</button>
      </form>
    </div>
  </div>
</div>   




<div class="hero hero-homepage">
  <span class="glyphicon glyphicon-object-align-left" aria-hidden="true">TI</span>
  <h1 class="hero-header">Приветствие</h1>
  <h4 class="text-muted">
  {% if user.is_authenticated %}
    <p>Добро пожаловать, {{ user.username }}. Спасибо, что не забываете нас.</p>
  {% else %}
    <p>Добро пожаловать, незнакомец. Кто вы?</p>
    {{her}}
    </h4>
     <a class="btn" href="/start/register/">Зарегестрироваться</a>
  {% endif %} 
  <p>...</p>
</div>


</div>

  </div>

  
  <footer class="footer clearfix footer-borderless">

  <ul class="footer-social-buttons">
    <li class="btn-follow hidden-xs">
      2
    </li>
    <li class="btn-tweet">
     2
    </li>
  </ul>

  <p class="hidden-xs">
    Designed and built with all the love in the world by
    <a href="#" target="_blank">@1</a>,
    <a href="#" target="_blank">@2</a>, and
    <a href="#" target="_blank">@3</a>.
  </p>

  <ul class="footer-list">
    
      <li class="footer-list-item">
        <a class="footer-list-link" href="#">About</a>
      </li>
    
      <li class="footer-list-item">
        <a class="footer-list-link" href="#">Terms</a>
      </li>
    
      <li class="footer-list-item">
        <a class="footer-list-link" href="#">Privacy</a>
      </li>
    
      <li class="footer-list-item">
        <a class="footer-list-link" href="#">Licenses</a>
      </li>
    
      <li class="footer-list-item">
        <a class="footer-list-link" href="#">FAQ</a>
      </li>
    
      <li class="footer-list-item">
        <a class="footer-list-link" href="#">Bootstrap</a>
      </li>
    
  </ul>
</footer>


  </div>
</body></html>